@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for Partnerhips Section */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .label {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 24px; /* Increase the font size */
    background-image: url('images/Partnerships_BG.png'); /* Background Image of Partnerships label */
    background-size: cover; 
    color: black; /* Sets the text color of Partnerships label */
    padding: 20px; 
  }
  
  .carousel {
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .carousel-track {
    display: flex;
    white-space: nowrap;
    animation: scroll 30s linear infinite; /* Adjust duration to change speed of Logos */
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 150px; /* Adjust width as needed */
    margin: 10px;
    transition: transform 0.3s; /* Smooth transition for hover effect */
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  .carousel-item:hover {
    transform: scale(0.9); /* Slightly shrinks the logo */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  /* CSS for Partnerhips Section ends here */